@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    button {
        font-weight: 300;
    }
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    &.fa-w-14 {
        width: .875em;
    }
    &.fa-w-16 {
        width: 1em;
    }
    &.fa-w-18 {
        width: 1.125em;
    }
}

.fa-xs {
    font-size: .75em;
}

.btn-primary {
    @apply bg-green-3 text-white;
}
.btn-outline-primary {
    @apply rounded bg-transparent text-green-3 border border-green-3;
}


.default-solid-btn {
    @apply flex h-40px w-200px items-center justify-center rounded bg-green-3 text-white;
}

.course-card-image {
    .course-card-cover {
        display: none;
    }
    &:hover {
        .course-card-cover {
            @apply lg:flex md:hidden;
        }
    }
}


.shadow-package-card {
    @apply drop-shadow-[0px_10px_15px_rgba(0,0,0,0.05)];
}

.error {
    @apply border-red-4 border;
}